<p>Hello <%= @user.username %>,</p>

<p>Your FestNoz account password was changed.</p>

<p>If this was you, no further action is needed.</p>

<p>If you did not change your password, reset it immediately and contact support.</p>
